/* Diseño de la vineta principal*/
.menuSuperior {
    background-color: #1e1d1d;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
}

/* Color del background */
body {
    background-color: #ffffff; /* Color de fondo suave */
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif; /* Fuente de texto */
}












